*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}


table{
    line-height: 30px;
}
button{
    width: 100%;
    background-color: rgb(110, 185, 110);
    border: none;
    box-shadow: 2px 2px 5px gray;
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;    
    margin-top: 10px;
}

h2{
    margin-bottom: 25px;
    
}