<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>{{this_book.title}}</h1>
    <h3>ID: {{this_book.id}}</h3>
    <h3>Description: {{this_book.description}}</h3>

    <ul>Authors:
        {% for author in authers %}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>

    <form action="select_author" method="post">
        {% csrf_token %}
        <select name="select_author1">
            {% for author in Authors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>